{% extends 'base.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Contact</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.content) }}
    <div class="text-right">
        <button class="btn btn-primary" type="submit">
            Envoyer
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}


